.balance {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  padding-top: 24px;
}
